#border {
	position: fixed;
	border: 5px solid grey;
    width: 1400px;
    height: 800px;
    background-color: white;
}

/* index.html */

#hello {
    padding: 50px 50px 50px 50px;
}

/* all tasks */

#introductionOverlay {
    position: fixed;
	border: 5px solid grey;
    width: 1400px;
    height: 800px;
    background-color: white;
    padding: 200px;
    text-align: center;
    z-index: 2;
}

#start {
    position: absolute;
    left: 680px;
    top: 50px;
}

#task {
    position: absolute;
    width: 100%;
    height: 90px;
}

#grid {
    position: absolute;
    left: 50px;
    top: 120px;
}

.row {
    margin-bottom: 10px;
}

#submit {
    position: absolute;
    left: 1310px;
    top: 740px;
}

.hidden {
	display: none;
}

#summaryOverlay {
    position: fixed;
	border: 5px solid grey;
    width: 1400px;
    height: 800px;
    background-color: white;
    padding: 200px;
    text-align: center;
    z-index: 2;
}

/* abstract tasks */

.circle {
    width: 21px;
	height: 21px;
	border-radius: 100%;
	background-color: rgb(162, 162, 162);
	margin: 6.5px;
	display: inline-block;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 23px 12px;
    border-color: transparent transparent rgb(162, 162, 162) transparent;
    margin: 5px;
	display: inline-block;
}

.square {
    width: 20px;
	height: 20px;
	background-color: rgb(162, 162, 162);
	margin: 7px;
	display: inline-block;
}

.space {
    margin-right: 50px;
}

.selected {
    background-color: black;
    border-color: transparent transparent black transparent;
}

#legend {
    position: absolute;
    left: 1100px;
    top: 120px;
}

/* ui tasks */

.card {
    margin-right: 25px;
    margin-bottom: 15px;
    border: 1px solid rgba(0,0,0,.5);
}

.cardPopupIncorrect {
    position: absolute;
    z-index: 2;
    background-color: white;
    top: 272px;
    left: 587px;
}

.cardPopupCorrect {
    position: absolute;
    z-index: 3;
    background-color: white;
    top: 272px;
    left: 587px;
}

.blur {
    filter: blur(5px);
}

.region {
    border: 6px solid rgb(190, 190, 190);
    background-color: lightgray;
    border-radius: 15px;
    padding: 15px 15px 5px 15px;
    transform: translateX(-15px);
}

.region > .card {
    margin-bottom: 10px;
}

.lastCard {
    margin-right: 0px;
}