#plan {
	border: 5px solid grey;
	margin: 30px;
	padding: 30px;
	display: inline-block;
}

#textDiv {
	display: inline-block;
}

#stage {
	width: 300px;
	height: 150px;
	border: 5px solid grey;
	margin: 0 auto;
	text-align: center;
}

#rows {
	/*transform: rotate(5deg);*/
	margin: 0 auto;
}

.seat {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: beige;
	margin: 5px;
	display: inline-block;
}

.seat.category-A {}

.seat.category-B {}

.taken {
	background-color: red;
}

.selected {
	background-color: blue;
}

.marginRight {
	margin-right: 60px;
}


body {
	background-color: lightblue;
}